#galeria_fotos {
    display: flex;
    flex-direction: column;
    margin: 2rem 7rem;
    gap: 3rem;
    color:white;

    h1{
        font-size: 2rem;
      }
      
  }

  .contenedor_galeria {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }