<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paris Jazz Club</title>

    <!--estilos de letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../CSS/style.css">
  </head>



  <body>
    <header>
      <div class="contenedor_textoInformativo">
        <span class="textoInformativo">Texto Informativo</span>
      </div>
      <section class="Seccion_icon_links">
        <div class="logo">
          <a href="/">
            LOGO BANDA
          </a>
        </div>

        <!-- Menú de navegación principal -->
        <nav class="nav_links">
          <a href="../index.html">Próximos Eventos</a>  <!--este link no redirige a una vista sino que a una sección del Home-->
          <a href="./contacto.html">Contacto</a>
          <a href="./galeria.html">Galería</a>
          <a href="./tienda.html">Tienda</a>
          <a href="./nosotros.html">Sobre Nosotros</a>
        </nav>
      </section>
    </header>
      <main>
        <!-- Sección de Banner -->

        <section id="vista_productos">
          <h1>Productos</h1>

          <div class="contenedor_tarjetas">
            
            <div class="tarjetas_productos">
              <img src="../Assets/duck.jpg" alt="" width="100%" height="">
              <span>Descripcion Producto</span>
              <span>$Precio</span>
              <button>Comprar</button>
            </div>

            <div class="tarjetas_productos">
              <img src="../Assets/duck.jpg" alt="" width="100%" height="">
              <span>Descripcion Producto</span>
              <span>$Precio</span>
              <button>Comprar</button>
            </div>
            <div class="tarjetas_productos">
              <img src="../Assets/duck.jpg" alt="" width="100%" height="">
              <span>Descripcion Producto</span>
              <span>$Precio</span>
              <button>Comprar</button>
            </div>
            <div class="tarjetas_productos">
              <img src="../Assets/duck.jpg" alt="" width="100%" height="">
              <span>Descripcion Producto</span>
              <span>$Precio</span>
              <button>Comprar</button>
            </div>
            <div class="tarjetas_productos">
              <img src="../Assets/duck.jpg" alt="" width="100%" height="">
              <span>Descripcion Producto</span>
              <span>$Precio</span>
              <button>Comprar</button>
            </div>
            <div class="tarjetas_productos">
              <img src="../Assets/duck.jpg" alt="" width="100%" height="">
              <span>Descripcion Producto</span>
              <span>$Precio</span>
              <button>Comprar</button>
            </div>
            
            




          </div>
        </section>


      </main>

      <footer>

        <div class="ContenedorFooter">
          <div class="Footer_texto">

            <a href="/"> LOGO BANDA </a>
            <span>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>

          </div>

          <div class="Footer_texto_lista">
            <ul>
              <li>Elemento 1</li>
              <li>Elemento 2</li>
              <li>Elemento 3</li>
            </ul>
          </div>

          <div class="Footer_texto_lista">
            <ul>
              <li>Elemento 1</li>
              <li>Elemento 2</li>
              <li>Elemento 3</li>
            </ul>
          </div>


         
           
        </div>
        <div class="AutoriaSitio"><span>Todos los derechos reservados.</span></div>

    
      </footer>
    
  </body>
</html>
