
/* Estilos tablet xl*/
@media (max-width: 1024px) {
  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: end;
    margin-top: 2rem;
  }

  .contenedor_Banner {
    background-color: black;
    height: 19rem;
    overflow: hidden;
    width: 100%;
  }

  .seccion_videos {
    margin-top: 4rem;
  }

  .seccion_galeria {
    margin: 4rem 0 4rem 0;
  }

  .btn-spotify {
    margin-top: 3rem;
  }

  .btn-primary {
    width: 40%;
  }

  .footer_texto_lista {
    justify-content: flex-start;
  }

  .contenedorFooter {
    padding: 3rem 2rem;
  }

  // contacto
  #vista_contacto {
    margin: 2rem 2rem;
  }

  .contenedor_info_contacto {
    grid-template-columns: 100%;

    padding: 0rem 0;
  }

  // galeria

  #galeria_fotos {
    margin: 2rem 2rem;
  }

  // nosotros
  #vistaNosotros {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
    gap: 1rem;
    color: white;
  }

  .contenedor_img_biografia {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: fit-content;
    }
  }

  #vista_productos {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    gap: 3rem;
    color: white;
  }
  .contenedor_tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tarjetas_productos {
    width: 13rem;
  }
}


/* Estilos para teléfonos XL - Tablet */
@media (max-width: 768px) {
  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: end;
    margin-top: 2rem;
  }


  .contenedor_Banner {
    background-color: black;
    height: -webkit-fill-available;
    overflow: hidden;
    width: 100%;

  }

  .proximos-shows {
    margin-top: 3rem;
    padding: 1rem;
  }

  .lista_fechas {
    margin-top: 2rem;
    gap: 2rem;
  }

  .fecha-1 {
    font-size: 14px;
    flex-direction: column;
    gap: 0.5rem;
    .btn-dark {
      font-size: 14px;
    }
  }

  .seccion_videos {
    margin-top: 4rem;
  }

  .seccion_galeria {
    margin: 4rem 0 4rem 0;
  }

  .galeria {
    display: flex;
    flex-direction: column;
  }

  .btn-spotify {
    margin-top: 3rem;
  }

  .btn-primary {
    width: 70%;
  }

  .contenedorFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 1rem;
  }

  .footer_texto_lista {
    justify-content: flex-start;
  }

  #vista_contacto {
    margin: 2rem 2rem;
  }

  .contenedor_info_contacto {
    grid-template-columns: 100%;

    padding: 0rem 0;
  }

  #galeria_fotos {
    margin: 2rem 2rem;
  }

  .contenedor_galeria {
    flex-direction: column;
  }

  // nosotros
  #vistaNosotros {
    margin: 2rem 2rem;
  }

  .contenedor_info_biografia {
    grid-template-columns: 100%;
  }

  .contenedor_img_biografia {
    img {
      width: 18rem;
    }
  }

  #vista_productos {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    gap: 3rem;
    color: white;
  }
  .contenedor_tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tarjetas_productos {
    width: 13rem;
  }
}



@media (min-width: 481px){
  .banner_mobile{
    display: none;
  }
}


/* Estilos Mobile */
@media (max-width: 480px) {
  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: end;
    margin-top: 2rem;
  }

  .banner_desktop {
    display: none;
  }

  .contenedor_Banner {
    background-color: black;
    height: -webkit-fill-available;
    overflow: hidden;
    width: 100%;
    .banner_mobile {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .proximos-shows {
    margin-top: 3rem;
    padding: 1rem;
  }

  .lista_fechas {
    margin-top: 2rem;
    gap: 2rem;
  }

  .fecha-1 {
    font-size: 14px;
    flex-direction: column;
    gap: 0.5rem;
    .btn-dark {
      font-size: 14px;
    }
  }

  .seccion_videos {
    margin-top: 4rem;
  }

  .seccion_galeria {
    margin: 4rem 0 4rem 0;
  }

  .galeria {
    display: flex;
    flex-direction: column;
  }

  .btn-spotify {
    margin-top: 3rem;
  }

  .btn-primary {
    width: 70%;
  }

  .contenedorFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 1rem;
  }

  .footer_texto_lista {
    justify-content: flex-start;
  }

  // contacto
  #vista_contacto {
    margin: 2rem 2rem;
  }

  .contenedor_info_contacto {
    grid-template-columns: 100%;

    padding: 0rem 0;
  }

  // galeria

  #galeria_fotos {
    margin: 2rem 2rem;
  }

  .contenedor_galeria {
    flex-direction: column;
  }

  // nosotros
  #vistaNosotros {
    margin: 2rem 2rem;
  }

  .contenedor_info_biografia {
    grid-template-columns: 100%;
  }

  .contenedor_img_biografia {
    img {
      width: 18rem;
    }
  }

  // tienda

  #vista_productos {
    margin: 1rem;
    gap: 1rem;
  }

  .contenedor_tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tarjetas_productos {
    width: 13rem;
  }
}
